{% extends "base.html" %}
{% load static %}
{% load bag_tools %}
{% block extra_meta %}
<meta name="description" content="Bag">
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block extra_title %}Bag{% endblock %}

{% block content %}
<div class="flex flex-col md:flex-row">
    <div class="w-full md:w-3/4 bg-white px-10 py-10">
        <div class="flex justify-between border-b pb-8">
            <h1 class="font-semibold text-2xl">Shopping Cart</h1>
            <h2 class="font-semibold text-2xl">{{ bag_items|length }} Items</h2>
        </div>

        <!-- Start Cart Items -->
        <div class="flex mt-10 mb-5">
            <!-- Details & Items -->
            <h3 class="font-semibold text-gray-600 text-xs uppercase w-1/2">Product Details</h3>
            <div class="w-1/2 px-1">
                <h3 class="font-semibold text-end text-gray-600 text-xs uppercase text-center hidden md:block">Total</h3>
            </div>
        </div>


        <!-- This code represents the template for displaying items in a shopping bag. It iterates over the bag items and 
            display their image, description, quantity, dates, total price, and options to delete or edit the items. If 
            the bag is empty, a different section is displayed. -->
        {% if bag_items %}
        {% for item in bag_items %}
        {% with product=item.product %}

        <!-- Image & Description -->
        <div class="w-full h-fit py-2.5 border-b border-zinc-300 justify-between items-start inline-flex flex-wrap">
            <!-- Image -->
            <div
                class="w-1/6 min-w-32 h-[150px] rounded-md border border-secondary-400 overflow-hidden justify-start inline-flex">
                <div class="flex justify-center items-center">
                    {% if product.image %}
                    <img src="{{ product.image.url }}" alt="" class="w-full object-fit rounded-md">
                    {% else %}
                    <!-- Placeholder image or no image message -->
                    <img src="{% static 'img/placeholder/woman-clothes.svg' %}" alt="" class="h-96 object-fit rounded-md">
                    {% endif %}
                </div>
            </div>
            <!-- Description -->
            <div class="w-1/4 flex-col justify-start items-start gap-2.5 inline-flex">
                <h3 class="text-black text-sm font-semibold">{{ product.name }}</h3>
                <p class="text-neutral-400 text-xs font-normal hidden md:block">{{ product.size }}</p>
                <p class="text-black text-sm font-semi-bold">€{{ product.price }} / day</p>
                <h3 class="text-black text-sm font-semibold sm:hidden">Days: {{ item.quantity }}</h3>
            </div>

            <!-- Days Display -->
            <div class="w-1/4 flex-col h-full px-5 justify-center items-center gap-2 hidden sm:flex">
                <h3 class="text-black text-sm font-semibold">Days: {{ item.quantity }}</h3>
                <p class="text-black text-sm font-normal p-1 border rounded-md">{{ item.start_date }}</p>
                <p>-</p>
                <p class="text-black text-sm font-normal p-1 border rounded-md">{{ item.end_date }}</p>
            </div>
            <!-- End Days Display -->

            <!-- Total & Delete -->
            <div class="flex flex-col gap-8 justify-center align-center h-full hidden sm:flex">
                <!-- Total -->
                <div class="flex flex-col h-full gap-2.5 justify-start align-start">
                    <p>{{ item.item_total }}</p>
                </div>
                <!-- Edit -->
                <div>
                    <a href="{% url 'remove_from_bag' product.id %}" id="remove_{{ item.item_id }}">
                        <p class="text-primary-600 text-sm mb-3">Delete</p>
                    </a>
                    <a href="{% url 'product_detail' product.id %}">
                        <p class="text-grey-600 text-sm mb-3">Edit</p>
                    </a>
                </div>
            </div>
            <!-- End Total & Delete -->
        </div>
        <!-- Total & Delete -->
        <div class="flex flex-row gap-8 justify-center align-center h-full sm:hidden">
            <!-- Edit -->
            <div class="flex flex-row gap-4">
                <a href="{% url 'remove_from_bag' product.id %}" id="remove_{{ item.item_id }}">
                    <p class="text-primary-600 text-sm mb-3">Delete</p>
                </a>
                <a href="{% url 'product_detail' product.id %}">
                    <p class="text-grey-600 text-sm mb-3">Edit</p>
                </a>
            </div>
            <!-- Total -->
            <div class="flex flex-col h-full text-sm gap-2.5 justify-start align-start">
                <p>Item Total: {{ item.item_total }}</p>
            </div>
        </div>
        <!-- End Image & Description -->

        {% endwith %}
        {% endfor %}
        {% else %}

        {% endif %}


        <a href="{% url 'products' %}" class="flex font-semibold text-primary-600 text-sm mt-10">

            <svg class="fill-current mr-2 text-primary-600 w-4" viewBox="0 0 448 512">
                <path
                    d="M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z" />
            </svg>
            Continue Shopping
        </a>
    </div>

    <!-- Summary
        This code displays the order summary, including the number of items in the bag, the total cost, shipping fee, 
        shipping cost, and the grand total. If the free delivery threshold is not met, it shows the amount needed to 
        qualify for free delivery.
    -->
    <div id="summary" class="w-full md:w-1/4 px-8 py-10">
        <h1 class="font-semibold text-2xl border-b pb-8">Order Summary</h1>
        <div class="flex justify-between mt-10 mb-5">
            <span class="font-semibold text-sm uppercase">Items {{ bag_items|length }}</span>
            <span class="font-semibold text-sm">€ {{ total }}</span>
        </div>
        <div class="flex justify-between mt-10 mb-5">
            <span class="font-semibold text-sm uppercase">Shipping Fee:</span>
            {% if free_delivery_delta > 0 %}
            <span class="font-semibold text-sm">10%</span>
            {% else %}
            <span class="font-semibold text-sm">Free</span>
            {% endif %}
        </div>
        <div class="flex justify-between mt-10 mb-5">
            <span class="font-semibold text-sm uppercase">Shipping Cost:</span>
            <span class="font-semibold text-sm">€{{ delivery|floatformat:2 }}</span>
        </div>
        <div>
            {% if free_delivery_delta > 0 %}
            <p class="mb-1 text-sm text-grey-900">
                You could get free delivery by spending just <strong>€{{ free_delivery_delta }}</strong> more!
            </p>
            {% endif %}
        </div>
        <div class="border-t mt-8">
            <div class="flex font-semibold justify-between py-6 text-sm uppercase">
                <span>Total cost</span>
                <span>€{{ grand_total|floatformat:2 }}</span>
            </div>
            <a href="{% url 'checkout' %}" class="bg-primary-500 px-4 font-semibold hover:bg-primary-600 rounded-md py-3 text-sm text-white uppercase w-full mt-5">
            Checkout
            </a>
        </div>
    </div>

</div>

{% endblock %}

{% block extra_js %}
{% endblock %}