{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block extra_title %}Bag{% endblock %}

{% block content %}
<div class="flex flex-col md:flex-row">
    <div class="w-full md:w-3/4 bg-white px-10 py-10">
        <div class="flex justify-between border-b pb-8">
            <h1 class="font-semibold text-2xl">Shopping Cart</h1>
            <h2 class="font-semibold text-2xl">{{ bag_items|length }} Items</h2>
        </div>

        <!-- Start Cart Items -->
        <div class="flex mt-10 mb-5">
            <!-- Details & Items -->
            <h3 class="font-semibold text-gray-600 text-xs uppercase w-1/2">Product Details</h3>
            <div class="w-1/2 px-1">
                <h3 class="font-semibold text-end text-gray-600 text-xs uppercase  text-center">Total</h3>
            </div>
        </div>

        {% if bag_items %}
        {% for item in bag_items %}
        {% with product=item.product %}

        <!-- Image & Description -->
        <div class="w-full h-fit py-2.5 border-b border-zinc-300 justify-between items-start inline-flex">
            <!-- Image -->
            <div
                class="w-1/6 min-w-32 h-[150px] rounded-md border border-secondary-400 overflow-hidden justify-start inline-flex">
                <div class="flex justify-center items-center">
                    <img src="../media{{ product.image.url }}" alt="" class="w-full object-fit rounded-md">
                </div>
            </div>
            <!-- Description -->
            <div class="w-1/4 flex-col justify-start items-start gap-2.5 inline-flex">
                <h3 class="text-black text-sm font-normal">{{ product.name }}</h3>
                <div class="text-neutral-400 text-xs font-normal">{{ product.size }}</div>
                <div class="text-black text-sm font-extrabold">{{ product.price }}</div>
            </div>

            <!-- Quantity Input -->
            <div class="w-1/4 h-full px-5 justify-center items-center gap-5 flex">
                <form class="max-w-xs mx-auto h-full">
                    <div class="relative flex items-center">
                        <button type="button" id="decrement-button" data-input-counter-decrement="counter-input"
                            class="flex-shrink-0 bg-gray-100 hover:bg-gray-200 inline-flex items-center justify-center border border-gray-300 rounded-md h-5 w-5 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
                            <svg class="w-2.5 h-2.5 text-gray-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                fill="none" viewBox="0 0 18 2">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="M1 1h16" />
                            </svg>
                        </button>
                        <input type="text" id="counter-input" data-input-counter
                            class="flex-shrink-0 text-gray-900 border-0 bg-transparent text-sm font-normal focus:outline-none focus:ring-0 max-w-[2.5rem] text-center"
                            placeholder="" value="{{ item.quantity }}" required>
                        <button type="button" id="increment-button" data-input-counter-increment="counter-input"
                            class="flex-shrink-0 bg-gray-100 hover:bg-gray-200 inline-flex items-center justify-center border border-gray-300 rounded-md h-5 w-5 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
                            <svg class="w-2.5 h-2.5 text-gray-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                fill="none" viewBox="0 0 18 18">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="M9 1v16M1 9h16" />
                            </svg>
                        </button>
                    </div>
                </form>
            </div>
            <!-- End Quantity Input -->

            <!-- Total & Delete -->
            <div class="flex flex-col gap-8 justify-center align-center h-full">
                <!-- Total -->
                <div class="flex flex-col h-full gap-2.5 justify-start align-start">
                    <p>{{ item.item_total }}</p>
                </div>
                <!-- Edit -->
                <div>
                    <a href="{% url 'remove_from_bag' product.id %}" id="remove_{{ item.item_id }}">
                        <p class="text-primary-600 text-sm">Delete</p>
                    </a>
                    <a href="{% url 'product_detail' product.id %}">
                        <p class="text-grey-600 text-sm">Edit</p>
                    </a>
                </div>
            </div>
            <!-- End Total & Delete -->
        </div>
        <!-- End Image & Description -->

        {% endwith %}
        {% endfor %}
        {% else %}

        {% endif %}


        <a href="#" class="flex font-semibold text-primary-600 text-sm mt-10">

            <svg class="fill-current mr-2 text-primary-600 w-4" viewBox="0 0 448 512">
                <path
                    d="M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z" />
            </svg>
            Continue Shopping
        </a>
    </div>

    <div id="summary" class="w-1/4 px-8 py-10">
        <h1 class="font-semibold text-2xl border-b pb-8">Order Summary</h1>
        <div class="flex justify-between mt-10 mb-5">
            <span class="font-semibold text-sm uppercase">Items 3</span>
            <span class="font-semibold text-sm">€ {{ total }}</span>
        </div>
        <div>
            <label class="font-medium inline-block mb-3 text-sm uppercase">Shipping</label>
            <select class="block p-2 text-gray-600 w-full text-sm">
                <option>Standard shipping - $10.00</option>
            </select>
        </div>
        <div class="py-10">
            <label for="promo" class="font-semibold inline-block mb-3 text-sm uppercase">Promo Code</label>
            <input type="text" id="promo" placeholder="Enter your code" class="p-2 text-sm w-full">
        </div>
        <button class="bg-red-500 hover:bg-red-600 px-5 py-2 text-sm text-white uppercase">Apply</button>
        <div class="border-t mt-8">
            <div class="flex font-semibold justify-between py-6 text-sm uppercase">
                <span>Total cost</span>
                <span>$600</span>
            </div>
            {% if free_delivery_delta > 0 %}
            <p class="mb-1 text-red-500">
                You could get free delivery by spending just <strong>${{ free_delivery_delta }}</strong> more!
            </p>
            {% endif %}
            <button
                class="bg-indigo-500 font-semibold hover:bg-indigo-600 py-3 text-sm text-white uppercase w-full mt-5">Checkout</button>
        </div>
    </div>

</div>

{% endblock %}

{% block extra_js %}
{% endblock %}