{% load static %}

<!DOCTYPE html>
<html lang="en">

<!-- Header -->

<head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block core_css %}
    <!-- Tailwind CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Flowbite -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet" />
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        primary: {
                            50: "#fef2f4",
                            100: "#fde6e9",
                            200: "#fad1d8",
                            300: "#f6abb7",
                            400: "#f07c92",
                            500: "#e54e6f",
                            600: "#d3315c",
                            700: "#b0204a",
                            800: "#941d43",
                            900: "#7f1c40",
                            950: "#460b1e",
                        },
                    },
                },
            },
        };
    </script>
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    <title>Atlas Rogue | {% block extra_title %}{% endblock %}</title>
</head>
<!-- End Header -->

<body>

    <!-- Navigation -->

    <div class="border-b-2 border-neutral-100 mb-10">
        <nav class="justify-between items-stretch flex gap-5 lpx-10 py-5 mx-16">

            <!-- Logo -->
            <div class="flex items-stretch justify-between gap-5">
                <button class="lg:hidden block hamburger" id="menu-toggle" aria-label="Open Menu">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h16m-7 6h7">
                        </path>
                    </svg>
                </button>
                <a href="#" class="hidden lg:block object-contain object-center self-center"><img loading="lazy"
                        src="{% static 'img/atlas-rogue-logo1.png' %}"
                        class="object-contain object-center w-[193px] overflow-hidden self-center max-w-full my-auto" /></a>
                <a href="#" class="lg:hidden aspect-[4.95] object-contain object-center self-center"><img loading="lazy"
                        src="{% static 'img/icons/atlas-rogue-icon.svg' %}"
                        class="object-contain object-center w-[40px] min-w-[40px] shrink-0 overflow-hidden self-center max-w-full my-auto" /></a>
            </div>
            <!-- End Logo -->
            <!-- Nav List -->
            <div class="absolute hidden lg:block lg:static bg-white min-h-[40vh] lg:min-h-fit left-0 top-[9%] w-full lg:w-fit flex items-center self-center px-5"
                id="nav-list">
                <ul class="flex lg:flex-row flex-col items-stretch self-center justify-between gap-5 my-auto p-2.5">
                    <!-- Menu Items -->
                    <li class="lg:hidden">
                        <form method="GET" action="">
                            <div class="">
                                <input type="text" name="q" placeholder="Search"
                                    class="border-2 border-neutral-100 rounded-md px-2 py-1.5 text-sm text-neutral-400 focus:outline-none focus:border-primary-600" />
                                <button type="submit" class="hidden">Search</button>
                            </div>
                        </form>
                    </li>
                    <li>
                        <div class="relative">
                            <!-- Rent Button -->
                            <button
                                class="drop-down-button text-neutral-400 text-center text-base whitespace-nowrap hover:text-primary-600 hover:underline underline-offset-4 decoration-2 duration-500"
                                aria-label="Rent">Rent</button>

                            <!-- Rent Dropdown -->
                            <div class="hidden drop-down-menu lg:absolute z-10 mt-2 w-56 origin-top-right divide-y divide-gray-100 rounded-md bg-white  ring-1 ring-black ring-opacity-5 focus:outline-none"
                                role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                                <a href="#"
                                    class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100 hover:text-primary-600"
                                    role="menuitem" tabindex="-1" id="menu-item-0">Edit</a>
                                <a href="#"
                                    class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100 hover:text-primary-600"
                                    role="menuitem" tabindex="-1" id="menu-item-1">Duplicate</a>
                                <a href="#"
                                    class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100 hover:text-primary-600"
                                    role="menuitem" tabindex="-1" id="menu-item-2">Archive</a>
                                <a href="#"
                                    class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100 hover:text-primary-600"
                                    role="menuitem" tabindex="-1" id="menu-item-3">Move</a>
                                <a href="#"
                                    class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100 hover:text-primary-600"
                                    role="menuitem" tabindex="-1" id="menu-item-4">Share</a>
                                <a href="#"
                                    class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100 hover:text-primary-600"
                                    role="menuitem" tabindex="-1" id="menu-item-5">Add to favorites</a>
                                <a href="#"
                                    class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100 hover:text-primary-600"
                                    role="menuitem" tabindex="-1" id="menu-item-6">Delete</a>
                            </div>
                            <!-- End Rent Dropdown -->
                        </div>
                    </li>
                    <li><button
                            class="drop-down-button text-neutral-400 text-center text-base hover:text-primary-600 hover:underline underline-offset-4 decoration-2 duration-500"
                            aria-label="Suppliers">Suppliers</button>
                        <!-- Suppliers Dropdown -->
                        <div class="hidden drop-down-menu lg:absolute z-10 mt-2 w-56 origin-top-right divide-y divide-gray-100 rounded-md bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
                            role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                            <a href="#"
                                class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100 hover:text-primary-600"
                                role="menuitem" tabindex="-1" id="menu-item-0">Edit</a>
                            <a href="#"
                                class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100 hover:text-primary-600"
                                role="menuitem" tabindex="-1" id="menu-item-1">Duplicate</a>
                            <a href="#"
                                class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100 hover:text-primary-600"
                                role="menuitem" tabindex="-1" id="menu-item-2">Archive</a>
                            <a href="#"
                                class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100 hover:text-primary-600"
                                role="menuitem" tabindex="-1" id="menu-item-3">Move</a>
                            <a href="#"
                                class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100 hover:text-primary-600"
                                role="menuitem" tabindex="-1" id="menu-item-4">Share</a>
                            <a href="#"
                                class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100 hover:text-primary-600"
                                role="menuitem" tabindex="-1" id="menu-item-5">Add to favorites</a>
                            <a href="#"
                                class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100 hover:text-primary-600"
                                role="menuitem" tabindex="-1" id="menu-item-6">Delete</a>
                        </div>
                        <!-- End Suppliers Dropdown -->
                    </li>
                    <li><a href="#"
                            class="text-neutral-400 text-center text-base hover:text-primary-600 hover:underline underline-offset-4 decoration-2 duration-500"
                            aria-label="Our Story">About</a></li>
                    <li><a href="#"
                            class="text-neutral-400 text-center text-base grow whitespace-nowrap hover:text-primary-600 hover:underline underline-offset-4 decoration-2 duration-500"
                            aria-label="Contact Us">Contact</a></li>
                    <!-- End Menu Items -->
                </ul>
            </div>
            <!-- End Nav List -->
            <!-- Nav icons -->
            <div class="flex justify-between items-stretch self-center flex gap-[1vw] py-1 min-w-fit">
                <form method="GET" action="" class="self-center">
                    <div class="flex hidden lg:block self-center">
                        <input type="text" name="q" placeholder="Search"
                            class="self-center border-2 border-neutral-100 rounded-md px-2 py-1.5 text-sm text-neutral-400 focus:outline-none focus:border-primary-600" />
                        <button type="submit" class="hidden">Search</button>
                    </div>
                </form>

                <!-- Account -->
                <div class="relative self-center">
                    <button
                        class="hidden lg:block drop-down-button text-neutral-400 text-center text-base whitespace-nowrap hover:text-primary-600 hover:underline underline-offset-4 decoration-2 duration-500"
                        aria-label="Rent">My Account</button>

                    <!-- Account Dropdown -->
                    <div class="hidden drop-down-menu lg:absolute z-10 mt-2 w-56 divide-y divide-gray-100 rounded-md bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
                        role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                        {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                        <a href=""
                            class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100 hover:text-primary-600"
                            role="menuitem" tabindex="-1">Product Management</a>
                        {% endif %}
                        <a href=""
                            class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100 hover:text-primary-600"
                            role="menuitem" tabindex="-1">My Profile</a>
                        <a href="{% url 'account_logout' %}"
                            class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100 hover:text-primary-600"
                            role="menuitem" tabindex="-1">Logout</a>
                        {% else %}
                        <a href="{% url 'account_signup' %}"
                            class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100 hover:text-primary-600"
                            role="menuitem" tabindex="-1">Register</a>
                        <a href="{% url 'account_login' %}"
                            class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100 hover:text-primary-600"
                            role="menuitem" tabindex="-1">Login</a>
                        {% endif %}
                    </div>
                </div>
                <!-- End Account Dropdown -->

                <!--Wishlist-->
                <img loading="lazy" src="{% static 'img/icons/Wishlist.svg' %}"
                    class="aspect-square object-contain object-center w-[25px] sm:w-[31px] overflow-hidden self-center shrink-0 max-w-full my-auto mx-2" />
                <!-- End Wishlist -->
                <!-- Cart -->
                <a class="{% if grand_total %}text-info font-weight-bold{% else %}{% endif %} nav-link self-center text-base text-neutral-400 hover:text-primary-600"
                    href="">
                    <div class="flex flex-row items-center text-center my-auto">
                        <div><img loading="lazy" src="{% static 'img/icons/cart.svg' %}"
                                class="aspect-square object-contain object-center w-[29px] sm:w-[31px] overflow-hidden shrink-0 max-w-full mx-2" /></i>
                        </div>
                        <p class="my-0">
                            {% if grand_total %}
                            ${{ grand_total|floatformat:2 }}
                            {% else %}
                            $0.00
                            {% endif %}
                        </p>
                    </div>
                </a>
                <!-- End Cart -->
            </div>
    </div>
    <!-- End Nav icons -->
    </nav>
    </div>
    <!-- End Navigation -->
    <main class="container mx-auto">
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="message {{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        {% block footer %}
        {% endblock %}
    </footer>
    {% block core_js %}
    <script src="{% static 'js/index.js' %}"></script>
    <!-- Flowbite JS Script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
    {% endblock %}
    {% block extra_js %}
    {% endblock %}
</body>

</html>