{% extends "base.html" %}
{% load static %}
{% load tailwind_filters %}

{% block content %}

<!-- 
    This HTML code represents the template for adding a product in the product management system.
    It contains a form for adding a new product with fields such as name, description, price, and an image upload option.
    The form is submitted to the 'add_product' URL using the POST method.
    The cancel button redirects the user to the 'products' page.
    The add product button submits the form and adds the product to the system.
-->
<div class="overlay"></div>
<div class="container mx-auto px-4">
    <div class="flex flex-wrap -mx-4">
        <div class="px-4 w-full">
            <hr class="my-4">
            <h2 class="font-semibold text-2xl mb-4">Product Management</h2>
            <h3 class="font-semibold text-secondaryGray-500 text-l mb-4">Add Product</h3>
            <hr class="my-4">
        </div>
    </div>
    <div class="flex flex-wrap w-1/2">
        <div class="px-4 w-full order-last mb-5">
            <form method="POST" enctype="multipart/form-data" action="{%url 'add_product'%}">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="flex flex-row gap-2"> <a href="{% url 'products' %}"
                        class="bg-secondaryGray-500 hover:bg-gray-700 text-white rounded py-2 px-4 my-4">Cancel</a>
                    <button type="submit"
                        class="bg-primary-500 hover:bg-primary-700 text-white rounded py-2 px-4 my-4">Add
                        Product</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}