{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block extra_title %}All Products{% endblock %}

{% block content %}
<div class="w-full px-[120px] py-10 flex-col justify-start items-start gap-2.5 inline-flex">
  <div class="self-stretch justify-start items-start gap-[30px] inline-flex">
    <div class="flex-col justify-start items-start gap-2.5 inline-flex">
      <div class="justify-start items-start gap-2.5 inline-flex">
        <div class="w-[370px] h-[370px] bg-zinc-300 rounded-[30px]"></div>
        <div class="w-[370px] h-[370px] bg-zinc-300 rounded-[30px]"></div>
      </div>
      <div class="justify-start items-start gap-2.5 inline-flex">
        <div class="w-[370px] h-[370px] bg-zinc-300 rounded-[30px]"></div>
        <div class="w-[370px] h-[370px] bg-zinc-300 rounded-[30px]"></div>
      </div>
    </div>
    <div class="grow shrink basis-0 flex-col justify-start items-start gap-2.5 inline-flex">
      <div class="px-5 flex-col justify-start items-start gap-2.5 flex">
        <p class="text-black text-base leading-tight">{{ product.designer }}</p>
        <h1 class="text-black text-xl font-extrabold leading-snug">{{ product.name }}</h1>
        <p class="text-black text-lg leading-snug">€{{ product.price }} / day</p>
        <p class="text-black text-lg leading-snug">RRP: €{{ product.rrp }}</p>
        <div class="justify-start items-center gap-2.5 inline-flex">
          <div class="p-2.5 bg-white bg-opacity-50 rounded-[50px] justify-center items-center gap-2.5 flex">
            <div class="w-5 h-5 relative"></div>
          </div>
        </div>
      </div>
      <div class="w-[203px] px-5 flex-col justify-between items-start flex">
        <div class="text-black text-sm font-extrabold font-['Avenir'] leading-tight">Product Details</div>
      </div>
      <div class="self-stretch h-[111px] px-5 flex-col justify-between items-start flex">
        <div class="text-black text-sm font-extrabold font-['Avenir'] leading-tight">Size: {{ product.size }}</div>
        <div class="text-black text-sm font-extrabold font-['Avenir'] leading-tight">Color: {{ product.colour }}</div>
        <div class="text-black text-sm font-extrabold font-['Avenir'] leading-tight">Length: {{ product.length }}</div>
      </div>
      <div class="px-5 flex-col justify-start items-start gap-2.5 flex">
        <div class="flex-col justify-start items-start gap-1.5 flex">
          <div class="w-[79px] opacity-50 text-black text-xl font-normal font-['Avenir'] leading-7">Quantity</div>
          <div
            class="w-[100px] px-2.5 py-3 rounded-[10px] border border-zinc-300 justify-between items-center inline-flex">
            <div class="w-5 h-5 relative opacity-50"></div>
            <div class="text-center text-stone-950 text-lg font-normal font-['Inter'] leading-relaxed">2</div>
            <div class="w-5 h-5 relative opacity-50"></div>
          </div>
        </div>
      </div>
      <div class="px-5 justify-start items-start gap-2.5 inline-flex">
        <div class="text-center text-black text-base font-extrabold font-['Avenir'] leading-snug">Choose your rental
          period</div>
      </div>
      <div class="self-stretch px-5 py-10 justify-between items-center inline-flex">
        <div class="w-[180px] h-14 p-2.5 bg-pink-600 rounded-[20px] shadow justify-center items-center gap-2.5 flex">
          <div class="w-[22px] h-[22px] relative"></div>
          <div class="text-center text-white text-base font-extrabold font-['Avenir'] leading-snug">Add To Cart</div>
        </div>
        <div class="flex-col justify-center items-start gap-2.5 inline-flex">
          <div class="text-center text-black text-lg font-extrabold font-['Avenir'] leading-[25.20px]">Total Price</div>
          <div class="text-center text-black text-xl font-extrabold font-['Avenir'] leading-7">€180</div>
        </div>
      </div>
      <div class="self-stretch px-[21px] py-5 justify-start items-start gap-2.5 inline-flex">
        <div class="w-[151px] opacity-50 text-black text-sm font-normal font-['Inter'] leading-tight">Free standard
          shipping</div>
        <div class="w-[151px] opacity-50 text-pink-600 text-sm font-normal font-['Inter'] underline leading-tight">Free
          Returns</div>
      </div>
    </div>
  </div>

</div>

{% endblock %}

{% block extra_js %}
{% endblock %}