{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block extra_title %}All Products{% endblock %}

{% block content %}

<!-- First Container -->
<div class="py-10 justify-center items-center flex flex-row w-full">

  <!-- Second Container -->
  <div class="justify-center items-center md:justify-start md:items-start flex flex-col md:flex-row gap-8 lg:gap-24">

    <!-- Product Image -->

        {% if product.image %}
          <img src="{{ product.image.url }}" alt="{{ product.name }}" class=" h-[375px] md:h-[563px] lg:h-[750px] max-w-[500px]  object-cover rounded-md">
        {% else %}
          <!-- Placeholder image or no image message -->
          <img src="{% static 'img/placeholder/woman-clothes.svg' %}" alt="{{ product.name }}" class="h-[375px] object-cover rounded-md">
        {% endif %}

    <!-- Product Details -->
    <div class="flex-col justify-center items-center md:justify-start md:items-start gap-2.5 inline-flex">
      <div class="w-full md:px-5 flex-col justify-start items-start gap-2.5 flex">
        <p class="text-black text-base">{{ product.designer }}</p>
        <h1 class="text-black text-xl font-extrabold">{{ product.name }}</h1>
        <p class="text-black text-lg"><span class="font-bold">€{{ product.price }}</span> / day</p>
        <p class="text-black text-lg"><span class="text-base font-bold">RRP:</span> €{{ product.rrp }}</p>
      </div>
      <div class="w-full md:px-5 flex-col justify-between items-start flex">
        <div class="text-black text-lg font-extrabold">Product Details</div>
        <div class="text-black text-base py-2"><span class="font-bold">Size:</span> {{ product.size }}</div>
        <div class="text-black text-base py-2"><span class="font-bold">Color:</span> {{ product.colour }}</div>
        <div class="text-black text-base py-2"><span class="font-bold">Length:</span> {{ product.length }}</div>
        {% if product.category %}
        <a href="{% url 'products' %}?category={{ product.category.name }}">
          <div class="flex flex-row justify-start items-center gap-2.5">
            <img src="{% static 'img/icons/tag-black-shape.svg' %}" alt="" class="h-3 fill-secondaryGray-400">
            <div class="self-stretch text-black text-base font-normal my-1">{{product.category.friendly_name }}</div>
          </div>
        </a>
        {% endif %}
      </div>

      <!-- Add to Bag Form -->
      <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
        {% csrf_token %}

        <!-- Rental Period Calendar -->
        <div class="md:px-5 py-2 w-full justify-start items-start gap-2.5 inline-flex">
          <div class="text-black text-base font-bold">Choose your rental
            period</div>
        </div>

        <div date-rangepicker datepicker-buttons datepicker-autoselect-today datepicker-format="yyyy-mm-dd" datepicker-orientation="bottom right" class="flex flex-col items-start md:px-5 gap-2 mt-2">
          <div class="relative">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                 <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                </svg>
            </div>
            <input name="start_date" type="date" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5" placeholder="Select date start">
          </div>
          <span class="mx-4 text-gray-500">to</span>
          <div class="relative">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                 <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                </svg>
            </div>
            <input name="end_date" type="date" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5" placeholder="Select date end">
        </div>
        </div>
        <!-- End Rental Period Calendar -->

        <!-- Quantity Selector -->
        <div class="flex flex-col">
          <div class="w-full py-5 flex-col justify-center">
            <p class="md:px-5 py-2 opacity-50 text-black text-lg">Quantity:</p>
            <div class="form-group md:px-5">
              <div class="input-group">
                <input class="form-input qty_input px-2.5 py-3 w-32 rounded-[10px] border border-zinc-300" type="number" name="quantity" value="1" min="1" max="99"
                  data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
              </div>
            </div>
          </div>
          <!-- End Quantity Selector -->

          <!-- Total -->
          <div class="py-5 justify-start gap-6 flex flex-col">
            <div class="w-[265px] md:px-5 flex-col justify-start items-start inline-flex">
              <p class="text-center text-black text-lg font-extrabold">Total Price</p>
              <p class="text-center text-black text-xl font-extrabold">€{{ product.price }}</p>
            </div>
          </div>
          <!-- End Total -->

          <!-- Container [Cart & Keep Shopping ]-->
          <div class="w-full flex flex-col">
            
            <!-- Add To Cart Button -->
            <input type="submit"
              class="lg:w-full w-[165px] md:px-5 h-14 bg-primary-600 rounded-lg shadow justify-center items-start flex text-center text-white text-base font-extrabold cursor-pointer hover:bg-primary-700 hover:text-white"
              value="Add to Cart">
            <!-- End Add To Cart Button -->
            {% if request.user.is_superuser %}
            <div class="self-stretch px-5 py-5 justify-start items-start gap-2.5 inline-flex">
              <a href="{% url 'edit_product' product.id %}" class="hover:text-blue-800 text-blue-400 text-black text-base font-normal">Edit</a>
              <a href="{% url 'delete_product' product.id %}" class="opacity-50 text-primary-600 hover:text-red-800 text-base font-normal underline">Delete</a>
            </div>
            {% endif %}

            <!-- Keep Shopping Button -->
            <a href="{% url 'products' %}" class="inline-block text-primary-600 text-start px-3 py-2 hover:border hover:border-primary-600 rounded-md">
              <span class="icon">
                <i class="fas fa-chevron-left"></i>
              </span>
              <span class="uppercase">Keep Shopping</span>
            </a>
            <!-- End Keep Shopping Button -->

          </div>
          <!-- End Container [Cart & Keep Shopping ]-->


          <input type="hidden" name="redirect_url" value="{{ request.path }}">
        </div>
      </form>
      <!-- End Add to Bag Form -->
    </div>
  </div>
</div>


{% endblock %}

{% block postloadjs %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/datepicker.min.js"></script>
{% endblock %}