{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block extra_title %}All Products{% endblock %}

{% block content %}

<h1 class="text-xl w-full text-center font-extrabold">Rent
  {% if category is not None %}
  <span class="text-primary-600">{{ category }}</span>
  {% else %}
  <span class="text-primary-600">All</span>
  {% endif %}
</h1>

<!-- Categories Pills -->
<div class="w-full h-fit py-[30px] justify-center items-start gap-[30px] flex flex-wrap px-10">
  {% for c in current_categories %}
  <a class="category-badge no-underline" href="{% url 'products' %}?category={{ c.name }}">
    <span
      class="py-2 px-4 bg-white text-primary-600 font-bold rounded-md border border-primary-600 hover:bg-primary-600 hover:text-white hover:font-extrabold">{{c.friendly_name }}</span>
  </a>
  {% endfor %}
</div>
<!-- End of Categories Pills -->

<div class="w-full h-fit py-[30px] justify-start items-start gap-[30px] flex flex-wrap px-10">
  <!-- Price Sort Dropdown -->
  <button id="dropdownHoverButton" data-dropdown-toggle="price-sort" data-dropdown-trigger="hover"
    class="text-white bg-primary-600 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center"
    type="button">Sort By Price <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
      fill="none" viewBox="0 0 10 6">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
    </svg>
  </button>

  <!-- Price Sort menu -->
  <div id="price-sort" class="z-10 hidden bg-primary-600 divide-y divide-gray-100 rounded-lg shadow w-44">
    <ul class="py-2 text-sm text-white" aria-labelledby="dropdownHoverButton">
      <li>
        <a href="{% url 'products' %}?sort=price&direction=desc" class="block px-4 py-2 hover:bg-primary-400">High to
          Low</a>
      </li>
      <li>
        <a href="{% url 'products' %}?sort=price&direction=asc" class="block px-4 py-2 hover:bg-primary-400">Low to
          High</a>
      </li>
    </ul>
  </div>
  <!-- End of Price Sort Dropdown -->

  <!-- Name Sort Dropdown -->
  <button id="dropdownHoverButton" data-dropdown-toggle="name-sort" data-dropdown-trigger="hover"
    class="text-white bg-primary-600 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center"
    type="button">Sort By Name <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
      fill="none" viewBox="0 0 10 6">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
    </svg>
  </button>

  <!-- Name Sort menu -->
  <div id="name-sort" class="z-10 hidden bg-primary-600 divide-y divide-gray-100 rounded-lg shadow w-44">
    <ul class="py-2 text-sm text-white" aria-labelledby="dropdownHoverButton">
      <li>
        <a href="{% url 'products' %}?sort=name&direction=asc" class="block px-4 py-2 hover:bg-primary-400">A - Z</a>
      </li>
      <li>
        <a href="{% url 'products' %}?sort=name&direction=desc" class="block px-4 py-2 hover:bg-primary-400">Z - A</a>
      </li>
    </ul>
  </div>
  <!-- End of Name Sort Dropdown -->

  <!-- Category Sort Dropdown -->
  <button id="dropdownHoverButton" data-dropdown-toggle="category-sort" data-dropdown-trigger="hover"
    class="text-white bg-primary-600 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center"
    type="button">Sort By Category <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
      fill="none" viewBox="0 0 10 6">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
    </svg>
  </button>

  <!-- Category Sort menu -->
  <div id="category-sort" class="z-10 hidden bg-primary-600 divide-y divide-gray-100 rounded-lg shadow w-44">
    <ul class="py-2 text-sm text-white" aria-labelledby="dropdownHoverButton">
      <li>
        <a href="{% url 'products' %}?sort=category&direction=asc" class="block px-4 py-2 hover:bg-primary-400">A -
          Z</a>
      </li>
      <li>
        <a href="{% url 'products' %}?sort=category&direction=desc" class="block px-4 py-2 hover:bg-primary-400">Z -
          A</a>
      </li>
    </ul>
  </div>
  <!-- End of Category Sort Dropdown -->

  <div class="w-full">
    <p class="text-gray-500 mt-3 text-center md:text-left text-sm">
      {% if search_term or current_categories or current_sorting != 'None_None' %}
      <span class="text-xs"><a href="{% url 'products' %}" class="text-primary-500 hover:text-primary-700">Products
          Home</a> |
      </span>
      {% endif %}
      {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
    </p>
  </div>

</div>
<div class="w-full h-fit py-[30px] justify-around items-center flex flex-wrap">
  {% for product in products %}
  <div class="w-[250px] h-fit min-h-[500px] flex-col justify-start gap-2.5 inline-flex my-16 mx-5">
    <div class="flex justify-center items-center">
      <a href="{% url 'product_detail' product.id %}">
        {% if product.image %}
        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="h-96 object-cover rounded-md hover:scale-105">
        {% else %}
        <!-- Placeholder image or no image -->
        <img src="{% static 'img/placeholder/woman-clothes.svg' %}" alt="{{ product.name }}"
          class="h-96 object-fit rounded-md">
        {% endif %}
      </a>
    </div>
    <div class="p-2.5 bg-white bg-opacity-50 rounded-[50px] justify-center items-center gap-2.5 inline-flex">
      <div class="w-5 h-5 relative"></div>
    </div>
    <div class="self-stretch h-[150px] px-[7px] flex-col justify-between items-start flex">
      <div class="self-stretch justify-start items-start gap-2.5 inline-flex">
        <!-- Product Name -->
        <a href="{% url 'product_detail' product.id %}">
          <div class="grow shrink basis-0 text-black hover:text-primary-500 text-lg font-bold leading-7 my-1">{{ product.name }}</div>
        </a>
        <!-- End Product Name -->
        <div class="w-4 h-4 relative"></div>
        <div class="h-5 justify-center items-start gap-2.5 flex">
          {% if product in wishlist.products.all %}
          <a href="{% url 'remove_from_wishlist' product.id %}">
            <img loading="lazy" src="{% static 'img/icons/heart-full.svg' %}"
              class="aspect-square object-contain object-center w-[25px] min-w-[25px] overflow-hidden self-center shrink-0 max-w-full my-auto mx-2" />
          </a>
          {% else %}
          <a href="{% url 'add_to_wishlist' product.id %}">
            <img loading="lazy" src="{% static 'img/icons/Wishlist.svg' %}"
                class="aspect-square object-contain object-center w-[25px] min-w-[25px] overflow-hidden self-center shrink-0 max-w-full my-auto mx-2" />
            </a>
          {% endif %}
        </div>
      </div>
      <div class="self-stretch text-secondaryGrey-400 text-sm font-normal my-1">{{ product.designer }}</div>
      {% if product.category %}
      <a href="{% url 'products' %}?category={{ product.category.name }}">
        <div class="flex flex-row justify-start items-center gap-2.5">
          <img src="{% static 'img/icons/tag-black-shape.svg' %}" alt="" class="h-3 fill-secondaryGray-400">
          <div class="self-stretch text-black text-sm font-normal my-1">{{product.category.friendly_name }}</div>
        </div>
      </a>
      {% endif %}
      <div class="self-stretch text-black text-lg font-normal my-1">{{ product.price }} <span
          class="text-gray text-sm">/ day</span></div>
      {% if request.user.is_superuser %}
      <div class="flex flex-row justify-start items-start gap-4">
        <a href="{% url 'edit_product' product.id %}"
          class="hover:text-blue-800 text-blue-400 rounded py-2 my-4">Edit</a>
        <a href="{% url 'delete_product' product.id %}"
          class="hover:text-red-800 text-red-400 rounded py-2 my-4">Delete</a>
      </div>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
<div
  class="btt-link shadow-sm rounded-md border border-primary-600 fixed bottom-2.5 right-2.5 h-10 w-10 hover:bg-primary-200 hover:text-white hover:font-extrabold">
  <a class="flex h-full items-center justify-center cursor-pointer">
    <i class="fas fa-arrow-up text-primary-600 hover:text-white hover:font-extrabold"></i>
  </a>
</div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/navButton.js' %}"></script>
{% endblock %}